image: python:3.12

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  key: "${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}"
  paths:
    - .cache/pip
    - venv/

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - python -V
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  - pip install --upgrade pip

lint:
  stage: lint
  script:
    - pip install -e ".[dev]"
    - ruff check .
    - ruff format --check .
    - mypy src/bice

test:
  stage: test
  script:
    - pip install -e ".[dev]"
    - pytest

build:
  stage: build
  script:
    - pip install build
    - python -m build
  artifacts:
    paths:
      - dist/

pages:
  stage: deploy
  script:
    - pip install -e ".[dev]"
    - cd docs ; make html
    - mv _build/html/ ../public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
