image: python:3.12

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  key: "${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}"
  paths:
    - .cache/pip

stages:
  - test
  - build
  - deploy

before_script:
  - pip install nox

lint:
  stage: test
  script:
    - nox -s lint

type_check:
  stage: test
  script:
    - nox -s type_check

test:
  stage: test
  script:
    - nox -s test

build:
  stage: build
  script:
    - pip install build
    - python -m build
  artifacts:
    paths:
      - dist/

pages:
  stage: deploy
  script:
    - nox -s docs
    - mv docs/_build/html/ public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.deploy_pypi:
  stage: deploy
  script:
    - pip install twine
    - twine upload --username __token__ --password $PYPI_API_TOKEN dist/*
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
  dependencies:
    - build

deploy_gitlab_registry:
  stage: deploy
  script:
    - pip install twine
    - |
      TWINE_PASSWORD=${CI_JOB_TOKEN} \
      TWINE_USERNAME=gitlab-ci-token \
      python3 -m twine upload \
        --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi \
        dist/*
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
  dependencies:
    - build

release:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  before_script:
    - "" # override global before_script
  script:
    - echo "Creating release for $CI_COMMIT_TAG"
  release:
    name: "Release $CI_COMMIT_TAG"
    description: "Created using the release-cli"
    tag_name: "$CI_COMMIT_TAG"
    ref: "$CI_COMMIT_SHA"
    assets:
      links:
        - name: "Package Registry"
          url: "${CI_PROJECT_URL}/-/packages"
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
  dependencies:
    - build
