image: python:3.12

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

cache:
  key: "${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}"
  paths:
    - .cache/pip

stages:
  - lint
  - type_check
  - test
  - build
  - deploy

before_script:
  - pip install nox

lint:
  stage: lint
  script:
    - nox -s lint

type_check:
  stage: type_check
  script:
    - nox -s type_check

test:
  stage: test
  script:
    - nox -s test

build:
  stage: build
  script:
    - pip install build
    - python -m build
  artifacts:
    paths:
      - dist/

pages:
  stage: deploy
  script:
    - nox -s docs
    - mv docs/_build/html/ public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

deploy_pypi:
  stage: deploy
  script:
    - pip install twine
    - twine upload --username __token__ --password $PYPI_API_TOKEN dist/*
  rules:
    - if: $CI_COMMIT_TAG =~ /^v/
  dependencies:
    - build
